html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    
}
.topview{

    
    background-color: #00A8DB;
    width: fit-content;
    HEIGHT: 720px;
}
.header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-left: 7rem;
    padding-right: 7rem;
}

.header img{
    width: 90px;
    height: 28px;
}
.header img:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
}

.rightview{
    display: flex;
    gap: 25px;
    align-items: center;
}
.rightview p{
    color: #FFFFFF;
    font-weight: 500;
    font: bold;
    size: 14px;
    line-height: 100%;
    letter-spacing: 0.3px;
    width: 62px;
    height: 18px;
}
.rightview p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 1px solid;
    border-color: transparent;
}
.rightview img{
    transition: box-shadow 0.3s ease;
}
.rightview img:hover{
    cursor: pointer;
    box-shadow: 2px 1px 8px 2px #152c41;
}
.flech{
    display: flex;
    align-items: center;
    gap: 6px;
}
.flech img{
    width: 8px;
    height: 6px;
}
.topviewleft h1{
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: xxx-large;
    font-weight: 700;
    size: 67px;
    line-height: 57px;
    width: 420px;
    height: 137px;
    margin-top: 131px;
    margin-left: 112px;
}
.topviewleft img{
    rotate: 2.35deg;
    width: 137.27px;
    height: 30.92px;
    margin-left: 110px;
    margin-top: -13px;
    transition: box-shadow 0.3s ease;
}

.topvi{
    margin-left: 38.5px;
}
.viewp{
    width: 382px;
    height: 72px;
    font-family: bold;
    font-size: medium;
    line-height: 24px;
    margin-left: 102px;
    color: #FFFFFF;
}  
.textdiv
{
    background-color: #EFFBFF;
    color: #00A8DB;
    height: 50px;
    width: 166px;
    border-radius: 7px;
    text-align: center;
    margin-left: 100px;
}
.textdiv:hover{
    cursor: pointer;
    background-color: rgb(0, 168, 219);
    color: #EFFBFF;
    border: 2px solid;
    border-color:  rgba(0, 84, 144, 1);
}
.textfleche{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textfleche:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
}
.textfleche p{
    font: bold;
    color: #FFFFFF;
    letter-spacing: 0px;
    align-items: center;
}
.textfleche p:hover{
    color: rgba(0, 84, 144, 1);
}
.textfleche img{
    width: 20px;
    margin: 0;
    height: 9px;
}

.topviewright {
    width: 770px;
    height: 899px;
    margin-top: -380px;
    margin-left: -85px;
}
.cercle{
    width: 350px;
    height: 350px;
    margin-top: 55px;
    margin-left: 114px;
}
.textdown{
    display: flex;
    gap: 20px;
    width: 480px;
}

.topviewdown
{
    display: flex;
}


.appsection
{
    height: 820px;
    width: 700px;
}
.apptop{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 1109px;
    height: 38px;
   
    padding: 0px 2rem 0rem 6.7rem;
}
.apptop img{
    margin: 0;
    padding: 0;
    width: fit-content;
    border-radius: 10px;
    width: max-content;
}
.apptop img:hover{
    cursor: pointer;
   
    border: 2px solid;
    border-color: transparent;
}
.vect{
    margin-top: -30rem;
    rotate: 348.6deg;
    height: 540px;
    width: 510px;
    margin-left: 1rem;
}
.mob{
    width: 417px;
    height: 459px;
    margin-top: 9rem;
    margin-left: 2rem;
}
.textf{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textf p{
    font: bold;
    color: #00A8DB;
    letter-spacing: 0px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 750;
    size: 16px;
    height: 21px;

}

.textf p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 2px solid;
    border-color: transparent;
}

.appleft img:hover{
    cursor: pointer;
}
.donnerdown{
    display: flex;
    gap: 4rem;
}
.appright{
    margin-top: 13rem;
    margin-left: 2rem;
}
.appright h1{
    color: #034D82;
    line-height: 43px;
    font-weight: 700;
    letter-spacing: 0.3px;
    width: 330px;
    font-family: "DM Sans", sans-serif;
    font-size: xx-large;
}
.graphs{
    color: #90A3B4;
    font-family: "DM Sans", sans-serif;
    line-height: 32px;
    letter-spacing: 0.3px;
    size: 16px;
    font-weight: 400;
    width: 500px;
}



.schedule_title{
    color:#034D82 ;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;  
}
.pcpsection{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
    
}
.pclist
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.pclist img{
    width: 16px;
    height: 20px;
}
.pclist img:hover{
    cursor: pointer;
    border: 1px solid;
    border-color: transparent;
}
.pctextgauche{
    display: flex;
    align-items: center;
    gap: 8px;
}
.pctextgauche p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 2px solid;
    border-radius: 30px;
    border-color:  transparent;
}
.pcsectiongauche p{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
}
.pctextgauche p{
    color: #04AADD;
    font-weight: bold;
}
.pcsectiondroit{
    width: 650px;
    height: 410px;
    margin-top: 35px;
}
.pcsectiondroit img {
    width: 561px;
    height: 100%;
    margin-right: -2rem;
}

.pcsection{
    display: flex;
    padding: 3rem;
}



.tracksection{
    background-color: #EFFBFF;
    width: 1256px;
    height: 600px;
    box-sizing: border-box;
}
.enfant1{
    background-color: aqua;
}
.barre1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.titletrack{
    font-family: "DM Sans", sans-serif;
    color: #034D82;
    margin-top: 50px;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
    text-align: center;
}
.p1{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #8EA9C1;
    font-weight: 400;
    size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.case{
    display: flex;
    text-align: center;
    gap: 24px;
   flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
    margin-top:40px;
    width: 1160px;
    height: 337px;
}
.cls{
    background-color: #FFFFFF;
    width: 259px;
    width: 100%;
    max-width: 260px;
    height: 300px;
    border-radius: 3%;
}



.trackimage{
    height: 56px;
    width: 56px;
    border-radius: 20%;
    margin-top: 22px;
    margin-left: -90px;
}
.ptrack{
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-weight: 400;
    margin-left: 21px;
    margin-right: 16px;
    margin-top: 15px;
    width: 198px;
    height: 72px;
    margin-top: 30px;
    size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8EA9C1;
}
.h1track{
    font-size: medium;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    margin-left: 21px;
    width: 161px;
    height: 32px;
    font-weight: 700;
    size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #034D82;
}
.h1track:hover{
    cursor: pointer;
    color: rgb(59, 142, 202);
}
.grp
{
    width: 199px;
    height: 202px;
}




.commentsection{
    background-color:#FFFFFF;
    width: 100%;
    height: 480px;  
}
.commentstitle{
  
    width: 407px;
    height: 155px; 
}
.commentstitle h1
{
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
}
.commentstitle p{
color: rgba(144, 163, 180, 1);
font-family: "DM Sans", sans-serif;
font-weight: 400;
size: 16px;
line-height: 32px;
letter-spacing: 0.3;

}
.comments{
    margin: 11rem 1rem 1rem 7rem;
    display: flex;
    width: 70rem;
    gap: 7rem;
}
.commentsicons{
    gap: 9rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column-reverse;
}
.commentsreview{
  
        width: 520px;
        height: 240px;
        display: flex;
        gap: 1rem;
       margin-top: 2rem;   
}
.commentsreviewp{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    size: 16px;
    line-height: 32px;
    margin: 0;
}
.flecheleft{
    
   margin-right: 1.5rem;
   height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;

}
.flecheleft:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: rgba(0, 84, 144, 1);
}
.jaquonprofile{
    display: flex;
    width: 480px;
    height: 53px;
    gap: 0.5rem;
    margin-top: 10px;
}
.jaquonprofile img:hover{
    cursor: pointer;
}
.name h1{
    margin: 0;
    width: fit-content;
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: medium;
}
.name h1:hover{
    cursor: pointer;
    color:#2074b0
}
.name p{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
    margin: 0;
    width: 293px;
}

.flechedroi{
    width: 70px;
    height: 70px;
    margin-top: 0rem;
    margin-left: 1rem;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.flechedroi:hover{
    cursor: pointer;
    
    box-shadow: 2px 1px 8px 2px #152c41;
}
.rightcomments{
    width: 421px;
}
.rightcomments img:hover{
    cursor: pointer;
    
}
.double{
    margin-left: 1.5rem;
}

.points{
    display: flex;
    margin-top: 3rem;
    gap: 7px;
}
.points img:hover{
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    border-color:  rgb(112, 112, 180);
}








.trialsection{
    height: 480px;
}

.rectangle
{
    width: 1049px;
    height: 322px;
    border-radius: 12px;
    margin: 0rem 7rem 0rem 7rem;
    background-color: rgba(1, 184, 217, 1);
    display: flex;
    justify-content: space-between;
}

.downtrial{
    display: flex;
    gap: 15px;
}
.trialleft{
    width: 355px;
    height: 276px;
    padding: 1rem 0rem 2rem 3rem;

}
.trialleft h1{
    color: rgba(255, 255, 255, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 44px;
    letter-spacing: 0.3px;
}
.trialleft p{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    size: 14px;
    line-height: 32px;
    letter-spacing: 0.3px;
    font-size: small;
    color: rgba(255, 255, 255, 1);
}

.trialnow {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 184, 217, 1);
    margin-top: -12rem;
    margin-left: 6.5rem;
    padding: 1px;
    width: 11rem;
    border-radius: 7px;
}
.trialnow:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgba(0, 184, 217, 1);
    border: 2px solid;
    border-color:  rgba(0, 84, 144, 1);
}
.trialnow p{
    margin-left: 1.5rem;
}
.others:hover{
    cursor: pointer;
    color: #f0ebeb;
}
.downtrial img{
    cursor: pointer;
   
}
.tryright img{
    height: 322px;
    
}
.downtrial p{
    text-decoration-line: underline;
    font-style: solid;
}

.downtrial img{
    width: 145px;
    height: 43px;
}


.endsection{
    background-color: rgba(8, 19, 21, 1);
    width: 1256px;
   height: 625px;
   box-sizing: border-box;
}

.elyansection{
    width: 828px;
    height: 350px;
    padding: 7rem 3rem 0rem 8rem;
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
    background-color: inherit;
}
.ehya{
    width: 263px;
}
.ehya img:hover{
    cursor: pointer;
}
.elyansection h1:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 1px solid;
    border-color: transparent;
}
.heart h1:hover{
    cursor: pointer;
   
}
.elyansection p{
    color: rgba(211, 214, 216, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
}
.endsection h1{
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    font-weight: 700;
    size: 18px;
    line-height: 100%;
    font-size: large;
    margin: 0;
}
.icons{
    display: flex;
    gap: 5px;
}
.heart
{
    width: 289px;
    height: 102px;
    margin-left: 32rem;
}
.heart img{
    margin: 0rem 0rem 1rem 7rem;
}



@media screen and ( max-width:500px) {
    .topview{
        height: 1197px;
        width: 855px;
    }
    .topviewleft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topviewleft img{
        margin-left: -165px;
    }
    .topvi{
        margin-left: -102.5px;
        margin-top: -55rem;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .rightview{
    gap: 33px;
    margin-top: 6rem;
    margin-left: -6rem;
    }
    .rightview p{
        font-size: x-large;
    }
    .viewp{
        width: 512px;
    height: 80px;
    font-size: x-large;
    font-family: "DM Sans", sans-serif;
    }
    .header{
        padding-left: 6rem;
        padding-right: 11rem;
        padding-top: 3px;
    }
    .header img{
        width: 19%;
        
    }
    .topviewdown{
        display: flex;
        flex-direction: column;
    }
    .textfleche{
        Font-size: 17px;
    }
    .topviewleft{
        margin-left: -33px;
        margin-top: -70px;
    }
    
    .appsection
    {
        height: 1095px;
        width: 730px;
        Font-size : 10px
    }
    
    .apptop{
        margin-top: 100px;
        display: flex;
        justify-content: center;
                width: 838px;
        height: 38px;
        padding: 2px 0rem 0rem 1rem;
        Font-size : 10px
    }
    .apptop img{
        padding: 0;
        margin: 0;
        width: 20%;
        height: 100%;
        Font-size : 10px
    }
   .appleft{
    margin-top: -2rem;
   }
    .mob{
        margin-top: 8rem;
        margin-left: 5rem;
    }
    .vect{
        margin-left: 3rem;
    }
    .donnerdown{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .appright {
        margin-top: 3rem;
        margin-left: 10rem;
        Font-size : 10px
    }
    .appright h1{
        text-align: center;
        margin-left: 2rem;
        width: 522px;
        font-size: xx-large;
    }
   
    .graphs{
        text-align: center;
        Font-size : 17px;
        width: 588px;
    }
    .textf{
        margin-left: 12rem;
        Font-size : 18px
    }

    .pcsection{
        width: 139%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        margin-top: -5rem;
        Font-size : 16px
    }
    .pcsectiongauche{
        width: 93%;
    }
    .pcsectiondroit{
        width: 88%;
        height: 384px;
        margin-top: 5px;
        margin-left: -46px;
    }
    .pctextgauche{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12rem;
        width: max-content;
        padding: 1rem;
        font-size: 21px;
    }
    
    
    .pcpsection{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        width: 39rem;
        margin-left: 2rem;
        
       font-size: 23px;
    }
    .schedule_title{
    text-align: center;
    margin-left: 12rem;
    width: max-content;
    }

    .pclist
    {
    display: flex; 
   
        font-size: 21px;
        margin: -11px;
        margin-left: 27px;
    }
   
    .pcsectiondroit img{
        margin-left: 4rem;
        width: max-content;
    }


    .tracksection
    {
        height: 802px;
        width: 865px;
    }
    .case{
        margin-left: 12px;
      
        margin-top: 23px;
        width: max-content;
        height: 281px;
        gap: 16px;
    }
    .cls{
        width: 25%;
        height: 255px;
    }
    .trackimage{
        width: 25%;
        height: 48px;
        margin-top: 16px;
        margin-left: -109px;
    }
    .h1track{
        width: 84%;
        font-size: larger;
        overflow-x: clip;
        line-height: 20px;
        margin-left: 13px;
    }
    .ptrack{
        width: 93%;
        margin-top: 28px;
        margin-left: 8px;
    }
    .commentsection{
       
        width: 100%;
        height: 579px;
    }
    .commentstitle{
        
        text-align: center;
        width: 525px;
    }
    .commentstitle p{
        font-size: larger;
    }
    .commentsreview{
        margin-left: -1rem;
    }
    .comments{
        margin: 6rem 0rem 3rem 10rem;
        display: flex;
        flex-direction: column;
        width: 407px;
        gap: 4rem;
    }
    .trialsection{
        height: 520px;
        width: 865px;
    }
    .rectangle{
        width: 92%;
        height: 438px;
    border-radius: 18px;
    margin: 2rem 7rem 2rem 2rem;
    }
    .trialleft{
        width: 294px;
        height: 423px;
        padding: 2rem 0rem 1rem 2rem;
    
    }
    .trialleft h1{
        font-weight: 600;
    size: 36px;
    line-height: 36px;
    }
    .others{
        width: 70px;
    }
    .tryright img{
        height: 100%;
        width: 115%;
        margin-left: -4rem;

    }
    .trialnow{
        margin-top: -16rem;
        margin-left: 7.5rem;
        padding: 10px;
    }
    .trialnow p{
        margin-left: 0.9rem;
        font-size: larger;
    }

    .endsection{
        height: 546px;
        width: 851px;
        

    }
    .elyansection{
        padding: 3rem 0rem 0rem 2rem;
        width: 514px;
        height: 58%;
        gap: 4rem;
        


    }
    .ehya{
        width: 20%;
    }
    .product{
        width: 24%;
    }
    .section{
        width: 23%;
    }
    .company{
        width: 20%;
    }
    .more{
        width: 24%;
    }
    .icons{
        margin-top: 6rem;
    }
    .heart{
        margin-left: 17rem;
        width: max-content;
        height: 33.5%;
        background-color: inherit;
        margin-top: -1rem;
    }
    
    .endsection h1{
        font-size: unset;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px)
{
     .topview{
        width: 1291px;
        HEIGHT: 737px;
    }
    .header{
        padding-top: 49px;
        width: 1030px;
        height: 47px;
    }
    .headimg{
        width: 133px;
    height: 45px;
    }
    .flech{
        gap: 41px;
    }
    .flechimg{
       margin-left: -2rem;
    }
    .schedule_title{
        width: 505px;
        margin-left: 3rem;
    }
    .pcpsection{
       
    text-align: center;
    }
   
    .pcsectiondroit{
        width: max-content;

    }
    .pcsectiondroit img{
        width: max-content;
        margin-top: 6rem;
    }
    .pcpsection{
        width: 503px;
        font-size: x-large;
    }
    .pctextgauche{
        font-size: larger;
    }
    .schedule_title{
        width: 414px;
        margin-left: 7rem;
    }
    .pclist{
        font-size: larger;
    }
    .tracksection{
        width: 1291px;
        height: 689px;
    }
    
    .cls{
        width: 360px;
        height: 335px;
    }
    .h1track{
        font-size: x-large;
        text-align: justify;
        width: 288px;
        line-height: 32px;
    }
    .ptrack{
        font-size: x-large;
        width: inherit;
        text-align: -webkit-left;
    }
    .p1{
        font-size: larger;
    }
    .cls p{
        font-size: x-large;
    }
    .trackimage{
        height: 92px;
    width: 92px;
    margin-left: -28px;
    }
    .rightview p{
        font-size: x-large;
    }

    .endsection{
        width: 1291px;
    }
    .elyansection{
        padding: 4rem 0rem 0rem 3rem;
    }
    .elyansection p{
        font-size: x-large;
    }
    .elyansection h1{
        font-size: xx-large;
    }
    .ehya img {
        width: 128px;
    }
    .icons{
        margin-top: 7rem;
    }
    .heart h1{
        width: max-content;
        font-size: x-large;
    }
}

