body{
    margin: 0;
}
.topview{
    background-color: #00A8DB;
    width: 100%;
    HEIGHT: 720px;
}
.header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 25px;
    padding-left: 7rem;
    padding-right: 7rem;
}

.header img{
    width: 90px;
    height: 28px;
}

.rightview{
    display: flex;
    gap: 25px;
    align-items: center;
}
.rightview p{
    color: #FFFFFF;
    font-weight: 500;
    font: bold;
    size: 14px;
    line-height: 100%;
    letter-spacing: 0.3px;
    width: 62px;
    height: 18px;
}
.flech{
    display: flex;
    align-items: center;
    gap: 6px;
}
.flech img{
    width: 8px;
    height: 6px;
}
.topviewleft h1{
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: xxx-large;
    font-weight: 700;
    size: 67px;
    line-height: 57px;
    width: 420px;
    height: 137px;
    margin-top: 131px;
    margin-left: 112px;
}
.topviewleft img{
    rotate: 2.35deg;
    width: 137.27px;
    height: 30.92px;
    margin-left: 110px;
    margin-top: -13px;
}
.topvi{
    margin-left: 38.5px;
}
.viewp{
    width: 382px;
    height: 72px;
    font-family: bold;
    font-size: medium;
    line-height: 24px;
    margin-left: 102px;
    color: #FFFFFF;
}  
.textdiv
{
    background-color: #EFFBFF;
    color: #00A8DB;
    height: 50px;
    width: 166px;
    border-radius: 7px;
    text-align: center;
    margin-left: 100px;
}

.textfleche{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textfleche p{
    font: bold;
    color: #FFFFFF;
    letter-spacing: 0px;
    align-items: center;
}
.textfleche img{
    width: 20px;
    margin: 0;
    height: 9px;
}

.topviewright {
    width: 770px;
    height: 899px;
    margin-top: -380px;
    margin-left: -85px;
}
.cercle{
    width: 350px;
    height: 350px;
    margin-top: 55px;
    margin-left: 114px;
}
.textdown{
    display: flex;
    gap: 20px;
    width: 480px;
}

.topviewdown
{
    display: flex;
}


.appsection
{
    height: 820px;
    width: 700px;
}
.apptop{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 1109px;
    height: 38px;
  
    padding: 0px 2rem 0rem 6.7rem;
}
.apptop img{
    padding: 0;
    margin: 0;
}
.vect{
    margin-top: -30rem;
    rotate: 348.6deg;
    height: 540px;
    width: 510px;
    margin-left: 1rem;
}
.mob{
    width: 417px;
    height: 459px;
    margin-top: 9rem;
    margin-left: 2rem;
}
.textf{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textf p{
    font: bold;
    color: #00A8DB;
    letter-spacing: 0px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 750;
    size: 16px;
    height: 21px;

}
.textf img{
    margin-top: 2px;
    height: 9px;
    width: 15px;
}
.donnerdown{
    display: flex;
    gap: 4rem;
}
.appright{
    margin-top: 13rem;
    margin-left: 2rem;
}
.appright h1{
    color: #034D82;
    line-height: 43px;
    font-weight: 700;
    letter-spacing: 0.3px;
    width: 330px;
    font-family: "DM Sans", sans-serif;
    font-size: xx-large;
}
.graphs{
    color: #90A3B4;
    font-family: "DM Sans", sans-serif;
    line-height: 32px;
    letter-spacing: 0.3px;
    size: 16px;
    font-weight: 400;
    width: 500px;
}



.schedule_title{
    color:#034D82 ;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;  
}
.pcpsection{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
    width: 450px;
}
.pclist
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.pclist img{
    width: 16px;
    height: 20px;
}
.pctextgauche{
    display: flex;
    align-items: center;
    gap: 8px;
}
.pctextgauche img{
    margin-top: 2px;
    height: 9px;
    width: 15px;   
}
.pcsectiongauche p{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
}
.pctextgauche p{
    color: #04AADD;
    font-weight: bold;
}
.pcsectiondroit{
    width: 650px;
    height: 410px;
    margin-top: 35px;
}
.pcsectiondroit img{
    width: 100%;
    height: 100%;
}
.pcsection{
    display: flex;
    padding: 3rem;
}



.tracksection{
    background-color: #EFFBFF;
    width: 100%;
    height: 600px;
}
.enfant1{
    background-color: aqua;
}
.barre1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.titletrack{
    font-family: "DM Sans", sans-serif;
    color: #034D82;
    margin-top: 50px;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
    text-align: center;
}
.p1{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #8EA9C1;
    font-weight: 400;
    size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.case{
    display: flex;
    text-align: start;
    gap: 24px;
    margin-left: 70px;
    margin-top:40px;
    width: 1160px;
    height: 337px;
}
.cls{
    background-color: #FFFFFF;
    width: 259px;
    height: 300px;
    border-radius: 3%;
}



.trackimage{
    height: 56px;
    width: 56px;
    border-radius: 20%;
    margin-top: 22px;
    margin-left: 22px;
}
.ptrack{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin-left: 21px;
    margin-right: 16px;
    margin-top: 15px;
    width: 198px;
    height: 72px;
    margin-top: 30px;
    size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8EA9C1;
}
.h1track{
    font-size: medium;
    font-family: "DM Sans", sans-serif;
    margin-left: 21px;
    width: 161px;
    height: 32px;
    font-weight: 700;
    size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #034D82;
}
.grp
{
    width: 199px;
    height: 202px;
}




.commentsection{
    background-color:#FFFFFF;
    width: 100%;
    height: 480px;  
}
.commentstitle{
  
    width: 407px;
    height: 155px; 
}
.commentstitle h1
{
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
}
.commentstitle p{
color: rgba(144, 163, 180, 1);
font-family: "DM Sans", sans-serif;
font-weight: 400;
size: 16px;
line-height: 32px;
letter-spacing: 0.3;

}
.comments{
    margin: 11rem 1rem 1rem 7rem;
    display: flex;
    width: 70rem;
    gap: 7rem;
}
.commentsicons{
    gap: 9rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column-reverse;
}
.commentsreview{
  
        width: 520px;
        height: 240px;
        display: flex;
        gap: 1rem;
       margin-top: 2rem;   
}
.commentsreviewp{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    size: 16px;
    line-height: 32px;
    margin: 0;
}
.flecheleft{
    
   margin-right: 1.5rem;
   height: 20px;
    width: 20px;
}
.jaquonprofile{
    display: flex;
    width: 480px;
    height: 53px;
    gap: 0.5rem;
    margin-top: 10px;
}
.name h1{
    margin: 0;
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: medium;
}
.name p{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
    margin: 0;
    width: 293px;
}

.flechedroi{
    width: 124px;
    height: 124px;
    margin-top: -2rem;
    margin-left: 1rem;
}
.rightcomments{
    width: 421px;
}
.double{
    margin-left: 1.5rem;
}

.points{
    display: flex;
    margin-top: 3rem;
    gap: 7px;
}









.trialsection{
    height: 480px;
}

.rectangle
{
    width: 1049px;
    height: 322px;
    border-radius: 12px;
    margin: 0rem 7rem 0rem 7rem;
    background-color: rgba(1, 184, 217, 1);
    display: flex;
    justify-content: space-between;
}

.downtrial{
    display: flex;
    gap: 15px;
}
.trialleft{
    width: 355px;
    height: 276px;
    padding: 1rem 0rem 2rem 3rem;

}
.trialleft h1{
    color: rgba(255, 255, 255, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 44px;
    letter-spacing: 0.3px;
}
.trialleft p{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    size: 14px;
    line-height: 32px;
    letter-spacing: 0.3px;
    font-size: small;
    color: rgba(255, 255, 255, 1);
}

.trialnow {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 184, 217, 1);
    margin-top: -12rem;
    margin-left: 6.5rem;
    padding: 1px;
    width: 11rem;
    border-radius: 7px;
}
.trialnow p{
    margin-left: 1.5rem;
}

.tryright img{
    height: 322px;
    
}
.downtrial p{
    text-decoration-line: underline;
    font-style: solid;
}




.endsection{
    background-color: rgba(8, 19, 21, 1);
   height: 625px;
}
.elyansection{
    width: 828px;
    height: 350px;
    padding: 7rem 3rem 0rem 8rem;
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
    background-color: inherit;
}
.ehya{
    width: 263px;
}
.elyansection p{
    color: rgba(211, 214, 216, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
}
.endsection h1{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    size: 18px;
    line-height: 100%;
    font-size: large;
    margin: 0;
}
.icons{
    display: flex;
    gap: 5px;
}
.heart
{
    width: 289px;
    height: 102px;
    margin-left: 32rem;
}
.heart img{
    margin: 0rem 0rem 1rem 7rem;
}







@media screen and ( min-width:882px) {

.topview{
    Font-size : 20px;
    width: 100%;
    HEIGHT: 720px;
}

.appsection
{
    Font-size : 20px;
    height: 820px;
    width: 700px;
}

.pcsection{
    display: flex;
    padding: 3rem;
    Font-size : 20px;
}
.tracksection{
    width: 100%;
    height: 600px;
    Font-size : 20px;
}

.commentsection{
    width: 100%;
    height: 480px;  
    Font-size : 20px;
}

.trialsection{
    height: 480px;
    Font-size : 20px;
}

.endsection{
   
   height: 625px;
   Font-size : 20px;
}


}






@media screen and ( max-width:390px) {
    .topview{
        height: 1141px;
        width: 651px;
    }
    .header{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .header img{
        width: 20%;
    }
    .topviewdown{
        display: flex;
        flex-direction: column;
    }
    
    .topviewleft{
        margin-left: -33px;
        margin-top: -70px;
    }
    .topvi{
        margin-left: -34.5px;
        margin-top: -40rem;
    }
    .appsection
    {
        height: 1095px;
        width: 589px;
        Font-size : 10px
    }
    
    .apptop{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        width: 107%;
        height: 38px;
        padding: 2px 0rem 0rem 1rem;
        Font-size : 10px
    }
    .apptop img{
        padding: 0;
        margin: 0;
        width: 20%;
        height: 100%;
        Font-size : 10px
    }
    .mob{
        margin-top: 8rem;
        margin-left: 5rem;
    }
    .vect{
        margin-left: 3rem;
    }
    .donnerdown{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        Font-size : 10px
    }
    .appright {
        margin-top: 3rem;
        margin-left: 2rem;
        Font-size : 10px
    }
    .appright h1{
        text-align: center;
        margin-left: 2rem;
        width: 522px;
        font-size: xx-large;
    }
   
    .graphs{
        text-align: center;
        Font-size : 17px;
        width: 588px;
    }
    .textf{
        margin-left: 1rem;
        Font-size : 18px
    }

    .pcsection{
        width: 127%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        margin-top: -5rem;
        Font-size : 16px
    }
    .pcsectiongauche{
        width: 93%;
    }
    .pcsectiondroit{
        width: 567px;
        height: 384px;
        margin-top: 5px;
        margin-left: -46px;
    }
    .pctextgauche{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: 21px;
    }
    .pcsectiondroit img{
        margin-left: 1rem;
        width: 105%;
    }

    .pcpsection{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        width: 105%;
        margin-left: -3rem;
       font-size: 23px;
    }
    .schedule_title{
    text-align: center;
    }

    .pclist
    {
    display: flex; 
    display: flex
;
        font-size: 21px;
        margin: -11px;
        margin-left: 0; 
    }
   
    .pcsectiondroit img{
    width: 100%;
    }


    .tracksection
    {
        height: 579px;
        width: 651px;
    }
    .case{
        margin-left: 12px;
        margin-top: 23px;
        width: 570px;
        height: 281px;
        gap: 16px;
    }
    .cls{
        width: 25%;
        height: 277px;
    }
    .trackimage{
        width: 20%;
        height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
    .h1track{
        width: 57%;
        font-size: inherit;
        overflow-x: clip;
        line-height: 20px;
        margin-left: 14px;
    }
    .ptrack{
        overflow-x: clip;
        width: 57%;
        margin-top: 36px;
        line-height: 20px;
    }
    .commentsection{
       
        width: 100%;
        height: 600px;  
    }
    .commentstitle{
        margin-left: 2rem;
        text-align: center;
    }
    .commentsreview{
        margin-left: -1rem;
    }
    .comments{
        margin: 6rem 0rem 2rem 5rem;
        display: flex;
        flex-direction: column;
        width: 407px;
        gap: 8rem;
    }
    .trialsection{
        height: 520px;
    }
    .rectangle{
        width: 151%;
        height: 438px;
    border-radius: 18px;
    margin: 2rem 7rem 2rem 2rem;
    }
    .trialleft{
        width: 261px;
        height: 423px;
    padding: 1rem 0rem 1rem 1rem;
    
    }
    .trialleft h1{
        font-weight: 600;
    size: 36px;
    line-height: 36px;
    }
    .others{
        width: 70px;
    }
    .tryright img{
        height: 100%;
        margin-left: -4rem;
    }
    .trialnow{
        margin-top: -16rem;
        margin-left: 3.5rem;
        padding: 10px;
    }
    .trialnow p{
        margin-left: 0.9rem;
        font-size: larger;
    }

    .endsection{
        height: 546px;
    }
    .elyansection{
        padding: 3rem 6.5rem 0rem 0rem;
        width: 514px;
        height: 58%;
        gap: 2rem;


    }
    .ehya{
        width: 16%;
    }
    .product{
        width: 20%;
    }
    .section{
        width: 20%;
    }
    .company{
        width: 20%;
    }
    .more{
        width: 20%;
    }
    .icons{
        margin-top: 3rem;
    }
    .heart{
        margin-left: 10rem;
        width: 452px;
    height: 33.5%;
    
    background-color: inherit;
    }
    .endsection{
        background-color: rgba(8, 19, 21, 1);
        width: 650px;
    }
    .endsection h1{
        font-size: unset;
    }
}