.fade-up, .fade-right {
    opacity: 0; 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.in-view, .fade-right.in-view {
    opacity: 1;
    transform: translateY(0);  
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease-out forwards;
}

.fade-right {
    animation: fadeRight 1s ease-out forwards;
}







.login-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .login-popup {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    animation: login 0.5s ease;
    position: relative;
    text-align: center;
  }
  
  .login-popup input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
  
  .login-popup button {
    padding: 10px 20px;
    background-color: #2f80ed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-login {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  

  @keyframes login {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  #toggleLogin:checked ~ .login-container {
    display: flex;
  }
  



  
  

html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.topview{
    background-color: #00A8DB; 
    width: 100%;
    HEIGHT: 720px;
    position: relative;

}
.header{
    justify-content: space-between;
    align-items: center;
    display: flex;
  

    padding-top: 25px;
    padding-left: 7rem;
    padding-right: 7rem;
}


.header img:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
}

.rightview{
    display: flex;
    gap: 25px;
    align-items: center;
}
.rightview p{
    color: #FFFFFF;
    font-weight: 500;
    font: bold;
    size: 14px;
    line-height: 100%;
    letter-spacing: 0.3px;
    width: 62px;
    height: 18px;
}
.rightview p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 1px solid;
    border-color: transparent;
}
.rightview img{
    transition: box-shadow 0.3s ease;
}
.rightview img:hover{
    cursor: pointer;
    box-shadow: 2px 1px 8px 2px #152c41;
}
.flech{
    display: flex;
    align-items: center;
    gap: 6px;
}
.flech img{
    width: 8px;
    height: 6px;
}
.topviewleft h1{
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: xxx-large;
    font-weight: 700;
    size: 67px;
    line-height: 57px;
    width: 420px;
    height: 137px;
    margin-top: 131px;
    margin-left: 112px;
}
.topviewleft img{
    rotate: 2.35deg;
    width: 137.27px;
    height: 30.92px;
    margin-left: 110px;
    margin-top: -13px;
    transition: box-shadow 0.3s ease;
}

.topvi{
   
    text-align: end;
}
.viewp{
    width: 382px;
    height: 72px;
    font-family: bold;
    font-size: medium;
    line-height: 24px;
    margin-left: 102px;
    color: #FFFFFF;
}  
.textdiv
{
    background-color: #EFFBFF;
    color: #00A8DB;
    height: 50px;
    width: 166px;
    border-radius: 7px;
    text-align: center;
    margin-left: 100px;
}
.textdiv:hover{
    cursor: pointer;
    background-color: rgb(0, 168, 219);
    color: #EFFBFF;
    border: 2px solid;
    border-color:  rgba(0, 84, 144, 1);
}
.textfleche{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textfleche:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
}
.textfleche p{
    font: bold;
    color: #FFFFFF;
    letter-spacing: 0px;
    align-items: center;
}
.textfleche p:hover{
    color: rgba(0, 84, 144, 1);
}
.textfleche img{
    width: 20px;
    margin: 0;
    height: 9px;
}

.topviewright {
    width: 770px;
    height: 899px;
    margin-top: -380px;
    margin-left: -85px;
}
.cercle{
    width: 350px;
    height: 350px;
    margin-top: 55px;
    margin-left: 114px;
}
.textdown{
    display: flex;
    gap: 20px;
    width: 480px;
}

.topviewdown
{
    display: flex;
}


.appsection
{
    height: 820px;
    width: 700px;
}
.apptop{
    display: flex
        ;
            justify-content: space-evenly;
            height: 38px;
            padding: 7rem 2rem 0rem 9.7rem;
}
.apptop img{
    margin: 0;
    padding: 0;
    width: fit-content;
    
    width: max-content;
}
.apptop img:hover{
    cursor: pointer;
   
    border: 2px solid;
    border-color: transparent;
}
.vect{
    margin-top: -30rem;
    rotate: 348.6deg;
    height: 540px;
    width: 510px;
    margin-left: 1rem;
}
.mob{
    width: 417px;
    height: 459px;
    margin-top: 9rem;
    margin-left: 2rem;
}
.textf{
    display: flex;
    align-items: center;
    gap: 6px; 
    margin: 0; 
}
.textf p{
    font: bold;
    color: #00A8DB;
    letter-spacing: 0px;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 750;
    size: 16px;
    height: 21px;

}

.textf p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 2px solid;
    border-color: transparent;
}

.appleft img:hover{
    cursor: pointer;
}
.donnerdown{
    display: flex;
    gap: 4rem;
}
.appright{
    margin-top: 13rem;
    margin-left: 2rem;
}
.appright h1{
    color: #034D82;
    line-height: 43px;
    font-weight: 700;
    letter-spacing: 0.3px;
    width: 330px;
    font-family: "DM Sans", sans-serif;
    font-size: xx-large;
}
.graphs{
    color: #90A3B4;
    font-family: "DM Sans", sans-serif;
    line-height: 32px;
    letter-spacing: 0.3px;
    size: 16px;
    font-weight: 400;
    width: 500px;
}



.schedule_title{
    color:#034D82 ;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;  
}
.pcpsection{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
    
}
.pclist
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.pclist img{
    width: 16px;
    height: 20px;
}
.pclist img:hover{
    cursor: pointer;
    border: 1px solid;
    border-color: transparent;
}
.pctextgauche{
    display: flex;
    align-items: center;
    gap: 8px;
}
.pctextgauche p:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 2px solid;
    border-radius: 30px;
    border-color:  transparent;
}
.pcsectiongauche p{
    font-family: "DM Sans", sans-serif;
    color: #90A3B4;
}
.pctextgauche p{
    color: #04AADD;
    font-weight: bold;
}
.pcsectiondroit{
    width: 650px;
    height: 410px;
    margin-top: 35px;
}
.pcsectiondroit img {
    width: 561px;
    height: 100%;
    margin-right: -2rem;
}

.pcsection{
    display: flex;
    padding: 3rem;
}



.tracksection{
    background-color: #EFFBFF;
    height: 600px;
    box-sizing: border-box;
}
.enfant1{
    background-color: aqua;
}
.barre1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.titletrack{
    font-family: "DM Sans", sans-serif;
    color: #034D82;
    margin-top: 50px;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
    text-align: center;
}
.p1{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: #8EA9C1;
    font-weight: 400;
    size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
}
.case{
    display: flex;
    text-align: center;
    gap: 24px;
   flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
    margin-top:40px;
    
    height: 337px;
}
.cls{
    background-color: #FFFFFF;
    width: 20%;
    
    height: 300px;
    border-radius: 3%;
}



.trackimage{
    height: 56px;
    width: 56px;
    border-radius: 20%;
    margin-top: 22px;
    margin-left: -90px;
}
.ptrack{
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-weight: 400;
    margin-left: 21px;
    margin-right: 16px;
    margin-top: 15px;
    width: 198px;
    height: 72px;
    margin-top: 30px;
    size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #8EA9C1;
}
.h1track{
    font-size: medium;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    margin-left: 21px;
    width: 161px;
    height: 32px;
    font-weight: 700;
    size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #034D82;
}
.h1track:hover{
    cursor: pointer;
    color: rgb(59, 142, 202);
}
.grp
{
    width: 199px;
    height: 202px;
}




.commentsection{
    background-color:#FFFFFF;
  
    height: 480px;  
}
.commentstitle{
  
    width: 407px;
    height: 155px; 
}
.commentstitle h1
{
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 52px;
    letter-spacing: 0.3px;
}
.commentstitle p{
color: rgba(144, 163, 180, 1);
font-family: "DM Sans", sans-serif;
font-weight: 400;
size: 16px;
line-height: 32px;
letter-spacing: 0.3;

}
.comments{
    margin: 11rem 1rem 1rem 7rem;
    display: flex;
    width: 70rem;
    gap: 7rem;
}
.commentsicons{
    gap: 9rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column-reverse;
}
.commentsreview{
  
        width: 520px;
        height: 240px;
        display: flex;
        gap: 1rem;
       margin-top: 2rem;   
}
.commentsreviewp{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    size: 16px;
    line-height: 32px;
    margin: 0;
}
.flecheleft{
    
   margin-right: 1.5rem;
   height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;

}
.flecheleft:hover{
    cursor: pointer;
    border: 2px solid;
    border-color: rgba(0, 84, 144, 1);
}
.jaquonprofile{
    display: flex;
    width: 480px;
    height: 53px;
    gap: 0.5rem;
    margin-top: 10px;
}
.jaquonprofile img:hover{
    cursor: pointer;
}
.name h1{
    margin: 0;
    width: fit-content;
    color: rgba(3, 77, 130, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: medium;
}
.name h1:hover{
    cursor: pointer;
    color:#2074b0
}
.name p{
    color: rgba(144, 163, 180, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
    margin: 0;
    width: 293px;
}

.flechedroi{
    width: 70px;
    height: 70px;
    margin-top: 0rem;
    margin-left: 1rem;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}
.flechedroi:hover{
    cursor: pointer;
    
    box-shadow: 2px 1px 8px 2px #152c41;
}
.rightcomments{
    width: 421px;
}
.rightcomments img:hover{
    cursor: pointer;
    
}
.double{
    margin-left: 1.5rem;
}

.points{
    display: flex;
    margin-top: 3rem;
    gap: 7px;
}
.points img:hover{
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    border-color:  rgb(112, 112, 180);
}








.trialsection{
    height: 480px;
}

.rectangle
{
   
    height: 322px;
    border-radius: 12px;
    margin: 0rem 7rem 0rem 7rem;
    background-color: rgba(1, 184, 217, 1);
    display: flex;
    justify-content: space-between;
}

.downtrial{
    display: flex;
    gap: 15px;
}
.trialleft{
    width: 355px;
    height: 276px;
    padding: 1rem 0rem 2rem 3rem;

}
.trialleft h1{
    color: rgba(255, 255, 255, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 44px;
    letter-spacing: 0.3px;
}
.trialleft p{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    size: 14px;
    line-height: 32px;
    letter-spacing: 0.3px;
    font-size: small;
    color: rgba(255, 255, 255, 1);
}

.trialnow {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 184, 217, 1);
    margin-top: -12rem;
    margin-left: 6.5rem;
    padding: 1px;
    width: 11rem;
    border-radius: 7px;
}
.trialnow:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgba(0, 184, 217, 1);
    border: 2px solid;
    border-color:  rgba(0, 84, 144, 1);
}
.trialnow p{
    margin-left: 1.5rem;
}
.others:hover{
    cursor: pointer;
    color: #f0ebeb;
}
.downtrial img{
    cursor: pointer;
   
}
.tryright img{
    height: 322px;
    
}
.downtrial p{
    text-decoration-line: underline;
    font-style: solid;
}

.downtrial img{
    width: 145px;
    height: 43px;
}


.endsection{
    background-color: rgba(8, 19, 21, 1);
 
   height: 625px;
   box-sizing: border-box;
}

.elyansection{
    height: 350px;
    padding: 7rem 3rem 0rem 9rem;
    display: flex
;
    justify-content: space-around;
}
.ehya{
    width: 263px;
}
.ehya img:hover{
    cursor: pointer;
}
.elyansection h1:hover{
    cursor: pointer;
    color: rgba(0, 84, 144, 1);
    border: 1px solid;
    border-color: transparent;
}
.heart h1:hover{
    cursor: pointer;
   
}
.elyansection p{
    color: rgba(211, 214, 216, 1);
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 28px;
}
.endsection h1{
    color: rgba(255, 255, 255, 1);
    width: fit-content;
    font-weight: 700;
    size: 18px;
    line-height: 100%;
    font-size: large;
    margin: 0;
}
.icons{
    display: flex;
    gap: 5px;
}
.heart
{
    width: 289px;
    height: 102px;
    margin-left: 32rem;
}
.heart img{
    margin: 0rem 0rem 1rem 7rem;
}


@media screen and (max-width: 500px) {
    .header, .topviewdown, .donnerdown, .pcsection, .comments {
      flex-direction: column;
      padding: 2rem;
    }
    .headimg{
        margin-top: 2rem;
        margin-left: -23rem;
    }
    .rightview{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -3rem;
    }
    .topview{
        HEIGHT: 1085px;
    }
    .topviewleft h1{
        margin-top: 0;
    margin-left: 0;
    }
    .topviewleft img{
        margin-left: 0;
    }
    .topviewleft p{
        margin-left: 10px;
    }
    .textdown {
        justify-content: start;
    }
    .header {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .rightview {
      flex-wrap: wrap;
      justify-content: center;
    }
    .cercle{
        width: 262px;
    height: 303px;
    margin-top: -6px;
    }
    .topviewright{
        width: 573px;
        height: 762px;
        margin-top: -330px;
        margin-left: -148px;
    }


     .pcsectiondroit {
      margin: 0 auto;
      text-align: center;
    }
    .appsection{
        height: 1095px;
    }
    .schedule_title{
        text-align: center;
    }
    .appright{
        margin-top: -3rem;
    }
    .graphs{
        text-align: justify;
      
        width: 364px;
    }
   
    .p1{
        width: 433px;
    }
    .tracksection{
        height: 902px;
    }
    .case{
        flex-wrap:wrap;
        justify-content: start;
        margin-left: 20px;
        margin-right: 20px;
    }
    .cls {
        width: 47%;
        height: 252px;
      }
      .commentsection{
        height: 686px;
      }
    .commentsicons {
      position: static;
      margin-bottom: 2rem;
      
    }
    .rightcomments{
        width: 365px;
    }
    .commentstitle{
        margin-left: 2rem;
    }
    .comments{
        margin: 1rem 1rem 1rem 0rem;
    }
    .name p {
        width: 211px;
    }
    .apptop{
        padding: 6rem 0rem 0rem 0rem;
        gap: 11px;
        justify-content: start;

    }
    .apptop img{
        width: 87px;
    }
    .appleft{
        text-align: start;
    }
    .mob{
        width: 359px;
        height: 436px;
        margin-top: 5rem;
        margin-left: 0rem;
    }
    .vect{
        margin-top: -29rem;
        rotate: 351.6deg;
        height: 527px;
        width: 477px;
        margin-left: -1rem;
    }

    .pcsectiondroit img{
        width: 422px;
        margin-right: 16rem;
        margin-top: 2rem;
        height: 72%;
        
    }

    .rectangle {
        width: 468px;
        height: 382px;
        margin-left: 1rem;
    }
    .trialleft{
        width: 406px;
    height: 178px;
    padding: 2rem 0rem 0rem 1rem;
    }
    .trialleft h1{
        width: 406px;
        font-size: x-large;
    }
    .trialnow{
        margin-top: -7rem;
        margin-left: 7.5rem;
    }
    .tryright{
        margin-left: -21rem;
        margin-top: 1rem;
    }
    .tryright img {
      margin-top: 2rem;
    }

    

    .endsection{
        height: 829px;
    }
    .elyansection{
        padding: 3rem 0rem 0rem 0rem;
        height: 58%;
        gap: 1.5rem;
        flex-wrap: wrap;


    }
    .ehya{
        width: 20%;
    }
    .product{
        width: 24%;
    }
    .section{
        width: 23%;
    }
    .company{
        width: 20%;
    }
    .more{
        width: 24%;
    }
    .icons{
        margin-top: 6rem;
    }
    .heart{
        margin-left: 6rem;
        margin-top: 8rem;
    }
    
    .endsection h1{
        font-size: unset;
    }

  }

  @media screen and (min-width: 501px) and (max-width: 1000px) {
    
    .topview{
        width: 63rem;
        HEIGHT: 644px;
        
    }

    .header {
        padding-right: 6rem;
        gap: 4rem;
        display: flex
;
        text-align: center;
        align-items: center;
    }

    .topviewright{
        width: 93%;
        height: 87%;
    }
    .topviewleft{
        margin-left: -6rem;
        margin-top: -24rem;
    }
    .topviewdown{
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
        padding: 3rem 4rem 0rem 2rem;
    }
    .topvi{
        text-align: justify;
        margin-top: 3rem;
    }
    .cercle{
        width: 288px;
        height: 288px;
        margin-left: 18px;
    }
    .topviewright{
        width: 526px;
        height: 666px;
        margin-top: -20rem;
    }
    .apptop{
        height: 4.7%;
        padding: 7rem 7rem 0rem 6.7rem;
        justify-content: space-around;
    }
    .appsection{
        padding: 3rem;
    }
    .appright h1{
        font-size: 204%;
        margin-left: 49%;

    }
    .appright p{
        font-size: 93% ;
        margin-left: 49%;

    }
    .appsection{
        height: 38rem;
    }

    .pcsectiondroit img {
        width: 113%;
        max-width: 400px;
        margin:7rem auto;
        height: 64%;
    }
    
    .case{
        flex-wrap:wrap;
        justify-content: start;
     margin-left: 0px;
    }
    .cls {
       
        width: 36%;
        max-width: 400px;
        height: 96%;
        margin: auto;
      }
    .tracksection {
        height: 65rem;
        padding: 2rem 1rem;
       width: 63rem;
      }
      .ptrack{
        width: 249px;
        text-align: center;
      }
    .appleft , .mob , .vect {
        height: 64%;
        width: 324%;
        margin-left: 1rem;
    }


  
    .headimg {
      width: 120px;
      height: auto;
    }
  
    .flech {
      gap: 2rem;
    }
  
    .flechimg {
      margin-left: -1rem;
    }
  
    .schedule_title {
      width: 90%;
      margin: 1rem auto;
      font-size: 1.5rem;
      text-align: center;
    }
  
    .pcpsection {
      width: 90%;
      margin: 1rem auto;
      text-align: center;
      font-size: 1.2rem;
    }
  
    .pctextgauche,
    .pclist {
        font-size: 0.9rem;
        text-align: left;
    }
  
    .pcsectiondroit {
      width: 100%;
      text-align: center;
    }
  
    
    .rectangle{
        margin: 0rem 7rem 0rem 4rem;
    }
    
    .p1,
    
    .h1track {
      font-size: 1.2rem;
      margin-left: 63px;
      text-align: left;
      line-height: 1.6;
      text-align: -webkit-center;
    }
  
    .trackimage {
      width: 80px;
      height: 80px;
      margin-left: 87px;
    }
  

    .comments{
        margin: 8rem 1rem 1rem 3rem;
        width: 54rem;
    }

    .trialsection{
        width: 63rem;
    }
    .rightview p {
      font-size: 1.2rem;
    }
  
    .endsection {
        width: max-content;
      padding: 2rem 1rem;
    }
  
    .elyansection {
    
        width: 57rem;
      padding: 2rem 1rem;
    }
  
    .elyansection p {
      font-size: 1.2rem;
    }
  
    .elyansection h1 {
      font-size: 1.6rem;
      text-align: center;
    }
  
    .ehya img {
      width: 100px;
      height: auto;
    }
  
    .icons {
      margin-top: 3rem;
      text-align: center;
    }
    .heart{
        margin-left: 21rem;
    }
    .heart h1 {
      font-size: 1.3rem;
      text-align: center;
    }
  }